In [1]:
import pandas as pd

In [5]:
pa_file = '../ppi_ml/results/coverage/og_coverage_by_species_phylo.150p.filtdollo.csv'
annot_file = '../ppi_ml/annotations/leca_eunog_annots_complete.030721.csv'

In [3]:
pa_df = pd.read_csv(pa_file)

In [19]:
all_species = pa_df.columns.values.tolist()
all_species.pop(0)
all_species

['dicdi',
 'yeast',
 'nemve',
 'brart',
 'drome',
 'caeel',
 'strpu',
 'xenla',
 'pig',
 'mouse',
 'human',
 'euggr',
 'tryb2',
 'phatc',
 'tetts',
 'plaba',
 'plaf7',
 'plakh',
 'chlre',
 'selml',
 'cerri',
 'cocnu',
 'maize',
 'orysj',
 'wheat',
 'cheqi',
 'sollc',
 'arath',
 'braol',
 'cansa',
 'soybn']

Conditions:
- all amorphea = 0
- tryb2 = 0
- tetts = 0
- euggr = 1 | 0
- phatc = 1 | 0
- plaf7 = 1 | 0
- plakh = 1 | 0
- plaba = 1 | 0
- all plants = 1 | 0

In [15]:
not_in = pa_df.loc[:, 'dicdi':'human'].columns.to_list()
not_in.extend(['tryb2', 'tetts'])
not_in

['dicdi',
 'yeast',
 'nemve',
 'brart',
 'drome',
 'caeel',
 'strpu',
 'xenla',
 'pig',
 'mouse',
 'human',
 'tryb2',
 'tetts']

In [21]:
maybe_in = [s for s in all_species if s not in not_in]
maybe_in

['euggr',
 'phatc',
 'plaba',
 'plaf7',
 'plakh',
 'chlre',
 'selml',
 'cerri',
 'cocnu',
 'maize',
 'orysj',
 'wheat',
 'cheqi',
 'sollc',
 'arath',
 'braol',
 'cansa',
 'soybn']

In [41]:
chloro_list = []
df = pa_df.copy()
for i in range(len(df)):
    not_in_vec = df[not_in].loc[i, :]
    not_sum = not_in_vec.sum()
    maybe_in_vec = df[maybe_in].loc[i, :]
    maybe_sum = maybe_in_vec.sum()
    if not_sum == 0 and maybe_sum > 0:
        chloro_list.append(df['ID'][i])

In [43]:
len(chloro_list)

647

In [49]:
chl_df = df[df['ID'].isin(chloro_list)]
chl_df = chl_df.reset_index(drop=True)
chl_df

,ID,dicdi,yeast,nemve,brart,drome,caeel,strpu,xenla,pig,...,cocnu,maize,orysj,wheat,cheqi,sollc,arath,braol,cansa,soybn
0,ENOG502QSJ5,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,0,1
1,ENOG502QQWI,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,1
2,ENOG502SFHI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENOG502S1YA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,ENOG502T78D,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,ENOG502QRI5,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
643,ENOG502QR64,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,0,1,0,1,1
644,ENOG502QTDB,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
645,ENOG502QPTD,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
646,ENOG502QPTI,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [55]:
annot_df = pd.read_csv(annot_file)
out_df = chl_df.merge(annot_df, how='left', on='ID')
out_df.to_csv('../ppi_ml/results/coverage/candidate_chloro_ids_040323.csv', index=False)

In [38]:
not_in_vec = pa_df[not_in].loc[5, :]
not_in_vec.sum()

11

In [37]:
maybe_in_vec = pa_df[maybe_in].loc[0, :]
maybe_in_vec.sum()

0

In [31]:
pa_df

,ID,dicdi,yeast,nemve,brart,drome,caeel,strpu,xenla,pig,...,cocnu,maize,orysj,wheat,cheqi,sollc,arath,braol,cansa,soybn
0,ENOG502QU2G,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ENOG502SCCH,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ENOG502QU2S,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENOG502QRRC,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ENOG502RH9U,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,KOG2695,1,0,1,1,0,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
5984,KOG2913,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5985,KOG2857,0,0,1,1,1,0,1,1,1,...,1,1,0,1,1,1,1,1,1,1
5986,KOG4397,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5987,KOG3016,0,1,1,0,0,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1